@use "../utils/" as u;

.skills {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
  padding-top: 3rem;
  margin-bottom: 5rem;

  > h2 {
    align-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: white;
    padding-bottom: 1rem;
    border-bottom: 2px solid u.$text-color;

    &::first-letter {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  > .wrapper {
    display: grid;
    gap: 3rem;

    @include u.breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    > .skills-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;

      > .skills-heading {
        font-size: 1.8rem;
        font-weight: 100;
        color: white;
        margin-bottom: 2rem;
        padding-bottom: 1rem;

        @include u.breakpoint-down(small) {
          text-align: center;
        }
      }

      > .fl {
        font-size: 0.9rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border: 2px solid u.$text-color;

        > img {
          width: 3rem;
          background: whitesmoke;
          padding: 0.2rem;
        }
      }
    }

    > .qualifications {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      > .q-heading {
        font-size: 1.8rem;
        font-weight: 100;
        color: white;
        margin-bottom: 2rem;
        padding-bottom: 1rem;

        @include u.breakpoint-down(small) {
          text-align: center;
        }
      }

      > .fl {
        font-size: 0.9rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border: 2px solid u.$text-color;

        > img {
          width: 3rem;
          background: whitesmoke;
          padding: 0.2rem;
        }
        > .black-img {
          width: 5rem;
          background: black;
          border: 2px solid u.$text-color;
          border-radius: 0.6rem;
        }
      }
    }
  }
}
